@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: darkgrey;
  font-family: "Zen Loop", cursive;
  color: black;
}
